@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&family=Mulish&display=swap');

body{
    font-family: 'Merriweather', serif;
    margin: 0;
}

.container{
    margin: 0 auto;
    max-width: 1200px;
}

.header{
    border: 2px solid black;
    /* height: 120px; */
    padding: 15px 20px;
    display: flex;
    justify-content:space-between;


}

.h-left{
    display: flex;
    width: 40%;
    align-items: center;
}
.h-left img{
    height: 80px;
    margin-right: 10px;
    object-fit: cover;
}
.h-left h4{
    font-size: 36px;
    font-style: italic;
    font-weight: bold;
    margin: 0px;
}
.l-clr{
    color: #FF5400;
    font-size: 36px;
}

.h-right {
    margin: auto 0;
}
.h-right nav ul li{
    display: inline-block;
}
.h-right nav ul li a{
    text-decoration: none;
    margin-left: 44px;
    color: #424247;
}
.h-right nav ul li a:hover{
    color: #FF5400;
}